Source: nginx
Section: httpd
Priority: optional
Maintainer: Sergey Budnevitch <sb@nginx.com>
Build-Depends: debhelper (>= 9~),
               dpkg-dev (>= 1.16.1~),
               quilt (>= 0.46-7~),
               lsb-release,
               libssl-dev (>= 0.9.7),
               libpcre3-dev,
               zlib1g-dev
Standards-Version: 3.9.8.0
Homepage: http://nginx.org

Package: nginx
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.0-6), adduser
Provides: httpd
Description: high performance web server
 nginx [engine x] is an HTTP and reverse proxy server, as well as
 a mail proxy server.

Package: nginx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, nginx (= ${binary:Version})
Description: nginx debug symbols
 This package contains the debugging symbols for nginx.
